<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <title>Ptotem Serious Games</title>
    <meta name="description" content="Serious Gamers out of India">
    <meta name="author" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>
</body>


<template name="appLayout">
    <div id="height-wrapper">

        <header>
            <div id="header-toolbar" class="container-fluid">
                <div class="row-fluid">
                    <div class="col-lg-3">
                        <a href="/" class='brand'>
                            <h1 style="font-size: 20px;cursor: pointer">
                                Welcome
                            </h1>
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <div id="main" role="main" class="container-fluid">
            <div id="page-content">
                {{{yield}}}
            </div>
        </div>
    </div>
</template>

